extends layout

block content
  h2
    i.fa.fa-users
    span= ' '+title


  form(action='/admin/clubs',method='post')
    fieldset#new-event
      input(type='text',name='newclub',placeholder="Club's name")
      input.button(type='submit',value='create new club')

  if clubsList
    each club in clubsList
      div
        h3= club.name
  else
    #no-club.empty-list No club in the database