extends layout


block append javascripts
  script.
    $('#fieldcontent').tchoukr();

block widecontent


  #home-title A brand new tchoukball app for stats

  #welcome
    #welcomecontent
      #connect
        p.
          Improve your coaching with live statistics.
          Know your team more than anybody else.
          All the results during the match.
        if(user)
          a(href='/logout') Logout
        else
          a(href='/auth/facebook')
            i.fa.fa-facebook-square
            span= " Facebook Connect"
      #field
        #fieldcontent

block append footer
  .credits Background picture: phototchouk.org
