doctype html
html
  head
    title= title||"tchoukr"
    block styles
      link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    block javascripts
      script(src='javascripts/jquery.min.js')