doctype html
html
  head
    title= title||"tchoukr"
    block styles
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Varela+Round', type='text/css')
      link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
      link(rel='stylesheet', href='/stylesheets/component.css', type='text/css')

  body
    block header
      #header
        h1 tchoukr
    block content

    #footer
      block footer
        #copyright
          &copy; tchoukr #{moment().format('YYYY')}
    block javascripts
      script(src='javascripts/jquery.min.js')
      script(src="javascripts/jquery.field.js")
