extends layout

block vars
  - var title = match._teamA.name + ' - '+match._teamB.name + " · " + match._event.name
  - var matchDate = moment(match.dateStart)
block content

  //h2
    i.fa.fa-bullhorn
    = ' '
    = match._teamA.name
    = ' - '
    = match._teamB.name


  ul.match-infos
    li
      i.fa.fa-map-marker
      = ' '
      a(href='/event/'+event._id)= event.name
    li
      i.fa.fa-calendar
      = ' ' + matchDate.format('ddd DD MMM YYYY')
    li
      i.fa.fa-clock-o
      = ' ' + matchDate.format('HH:mm')
      small= matchDate.format('Z')


  mixin showPlayers(players,team)
    h3= team.name

    .team-content
      if(players && players.length)
        ul
          each player in players
            li= player.lastName.toUpperCase() + ' ' + player.firstName
      else
        .no-player Unknown composition

  #match-board

    .players-list#players-list-A
      +showPlayers(playersA,teamA)

    .players-list#players-list-B
      +showPlayers(playersB,teamB)

    #score-table
      #score-display
        #scoreA --
        #scoreSeparator :
        #scoreB --


  if(isAdmin)
    a.btn(href='./'+match._id+'/admin') You can administrate the match

block append javascripts
  script.
    $('#players-list-A h3').on('click',function(){$('#players-list-A .team-content').toggleClass('players-showOnMobile')});
    $('#players-list-B h3').on('click',function(){$('#players-list-B .team-content').toggleClass('players-showOnMobile')});
