extends layout

block vars
  - var title = match._teamA.name + ' - '+match._teamB.name + " · " + match._event.name
  - var matchDate = moment(match.dateStart)

block content
  h2
    i.fa.fa-bullhorn
    = ' '
    = match._teamA.name
    = ' - '
    = match._teamB.name

  ul.match-infos
    li
      i.fa.fa-map-marker
      = ' '
      a(href='/event/'+event._id)= event.name
    li
      i.fa.fa-calendar
      = ' ' + matchDate.format('ddd DD MMM YYYY')
    li
      i.fa.fa-clock-o
      = ' ' + matchDate.format('HH:mm')
      small= matchDate.format('Z')

