extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/component.css')

block append javascripts
  script(src="javascripts/jquery.field.js")
  script.
    $('#field').tchoukr();
block content
  div#field
    div#inner-field
      div.zone#zone-left
      div.zone#zone-right
      div#middle
  div#export