extends layout

block javascripts
  script(src="javascripts/jquery.field.js")

block content
  div#field
    div#inner-field
      div.zone#zone-left
      div.zone#zone-right
      div#middle
  div#export