
.playerPlaying
	display block
	margin 5px
	background rgba(255,255,255,0.2)
	padding 8px 5px
	border-radius 5px
	color #fff
	text-align center

	.shirtNumber
		color #000
		font-weight bold
		display inline-block
		padding 0 5px

.playerPlaying:hover
	background rgba(255,255,255,0.4)

#submitAction
	padding 15px 30px
	background #333
	color #fff

#compoA
#compoB
	display block
	width 49.5%
	float left
	border-radius 5px
	overflow hidden

	h3
		color #fff
		background-color rgba(0,0,0,0.2)
		text-align center
		padding 5px 0
		border-radius 5px

#compoA
	background #800

#compoB
	background #008
	float right