$maxBodyWidth = 950px
$mobileLimit = 500px
$responsiveTooWide = "(min-width:"+$maxBodyWidth+")"
$responsiveMobile = "(max-width:"+$mobileLimit+")"
$responsiveDesktop = "(min-width:"+($mobileLimit+1)+")"
$mainColor = #00B7FF
$secondColor = #ffcc00
$titleFont = 'Varela Round', sans-serif
$scoreFont = 'Orbitron', sans-serif


*
	padding 0
	margin 0

body
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
	color $mainColor

#header
	background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */

	font-weight bold
	box-shadow 0 0 5px rgba(0,0,0,0.5)
	padding 8px 0
	margin 0 auto 10px auto
	max-width $maxBodyWidth


	h1
		display inline-block
		font-size 1.6em

		a
			height 0
			overflow hidden
			padding-top 1em
			font-size 1em
			width 3.82em
			background url("../images/logo.png") 0 0 no-repeat
			background-size contain
			margin 0 10px
			display inline-block

	#user-infos
		float right
		margin-right 10px
		font-family $titleFont
		padding-top 5px
		text-shadow 1px 1px 0 rgba(255,255,255,0.5)

		a
			font-weight normal

		a:hover
			color #c00

	@media $responsiveTooWide
		border-radius 0 0 10px 10px

#footer
	font-size 0.8em
	color #ccc
	text-align center
	margin 30px 10px

#content
	padding 0 5px

	@media $responsiveTooWide
		max-width $maxBodyWidth
		margin auto
		padding 0



#home-title
	font-family $titleFont
	text-align center
	font-size 2.8em
	margin 50px 20px

#welcome
	background: rgb(169,228,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C */

	text-align center
	margin : 50px 0


	#welcomecontent
		background transparent url('../images/welcome.png') center top no-repeat
		padding 20px
		border-bottom 1px solid #fff

	#field
	#connect
		display inline-block
		width 44%
		padding 0 3%
		max-width 400px

	#fieldcontent
		box-shadow 2px 2px 5px rgba(0,0,0,0.5)
		transform:rotate(10deg);
		-ms-transform:rotate(10deg); /* IE 9 */
		-webkit-transform:rotate(10deg); /* Opera, Chrome, and Safari */
		border-radius 15px
		overflow hidden

	#connect
		p
			background rgba(255,255,255,0.2)
			border-radius 10px
			padding 10px
			line-height 2em
			margin auto
			max-width 250px
			margin-bottom 30px

		a
			background $secondColor
			color #000
			padding 10px 30px
			text-decoration none
			font-weight bold
			display inline-block
			margin-bottom 10px

	@media $responsiveMobile
		#field
			display none
		#connect
			width 94%
			p
				max-width none

.empty-list
	background #eee
	padding 50px 20px
	text-align center
	color #999
	text-shadow 0 1px 0 #fff
	font-weight bold

h2
	margin-bottom 20px
	padding 10px 0
	border-bottom 1px solid #eee
	font-size 2em
	font-family $titleFont

table, fieldset, .empty-list
	margin 10px 0
	border-radius 5px

fieldset
	padding 10px
	border 3px solid $mainColor

table
	width 100%
	border-collapse collapse
	border 2px solid #ccc
	background #eee

	td, th
		border 1px solid #ccc
		padding 2px 5px
		background #fff
		border-radius 2px

		a
			display block
			text-align center


	th
		background $mainColor
		color white
		text-align left
		text-shadow -1px -1px 1px rgba(0,0,0,0.4)

	tr:nth-child(odd) td
		background-color #fafafa

	tr:hover td
		background-color $secondColor

	.teamA
	.teamB
		font-weight bold

	.teamA
		text-align right

	.hour
		width 130px
		text-align center



.match-infos
	display block
	margin 15px 0

	li
		display inline-block
		width (100/3)%
		text-align center


#match-board
	border-radius 10px
	background #ccc
	height 300px
	overflow hidden

	@media $responsiveMobile
		height auto
		border 2px solid #ccc


	.players-list
	#score-table
		display inline-block
		height 100%
		overflow hidden

	.players-list
		background #eee
		border-radius 10px
		width 30%
		box-shadow 0 0 10px rgba(0,0,0,0.4)

		@media $responsiveMobile
			width 100%
			box-shadow none
			border-radius 0

		h3
			padding 10px
			font-size 1.5em
			font-family $titleFont
			border-bottom 1px dotted #fff
			height 2.2em
			line-height 1.1em
			text-align center

			@media $responsiveMobile
				height auto

		ul

			li
				display block
				font-size 0.9em
				font-style italic
				list-style-type none
				padding 1px 5px
				border-bottom 1px solid #fff

				.playerName
					font-weight

				.shirtNumber
					float right
					font-weight bold

			li:nth-child(odd)
				background-color #fafafa

		@media $responsiveMobile

			h3
				cursor pointer

			.team-content
				display none

			.players-showOnMobile
				display block

		.no-player
			color rgba(0,0,0,0.3)
			text-align center
			padding 5px

	#players-list-A
		float left

		ul
			li
				text-align right

			.shirtNumber
				float left

		@media $responsiveMobile
			h3
				text-align left

	#players-list-B
		float right

		@media $responsiveMobile
			h3
				text-align right

#score-table
	width 40%

	@media $responsiveMobile
		width 100%

	#score-display
		font-family $scoreFont
		color $mainColor
		text-align center
		font-size 4em
		line-height 1em
		text-shadow 2px 2px 0 rgba(0,0,0,0.3)
		margin 10px
		background #666
		border 3px outset $mainColor
		height 0.85em
		padding 10px
		border-radius 10px

		background: rgb(125,126,125);
		background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */


		div
			display inline-block
			width 45%

		#scoreSeparator
			width 10%

		#scoreA
			text-align right

		#scoreB
			text-align left

